{{!-- nav-block.handlebars --}}
{{> nav/nav-block}}

{{!-- Event Details --}}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
			<h5 class="card-title eventTitle text-center"><span style="font-size:40px">{{example.name}}</span></h5>
			<img src="{{example.picture}}" class="card-img-top" alt="{{example.name}} Logo/Picture">
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item eventDate text-dark"><span style="text-decoration: underline; font-size: 18px">Date(s):</span> {{example.datefrom}} - {{example.dateto}}</li>
				<li class="list-group-item eventDescription text-dark"><span style="text-decoration: underline; font-size: 18px">Description:</span> {{example.about}}</li>
				<li class="list-group-item eventLocation text-dark"><span style="text-decoration: underline; font-size: 18px">You can find us right here:</span> {{example.address}}, {{example.city}}, {{example.state}}, {{example.zip}}</li>
			</ul>
			<div class="mt-2">
				<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=auto&amp;hl=en&amp;q={{example.address}}%20{{example.city}}%20{{example.state}}%{{example.zip}}+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>    
			</div>
      </div>
	  <div class="card-footer">
		  <a href="/example">← Back To Home</a>
	  </div>
    </div>
  </div>
</div>

{{!-- check user --}}
<script>
  var userId = {{userInfo.id}};
</script>

{{> modal/login-block}}
