{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-4"> 
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Profile</h5>
            <h6 class="card-subtitle mb-2 text-muted">About Me</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Email</a>
          </div>
        </div>

        <div class="card border-primary mb-3">
          <div class="card-body">
            <h5 class="card-title">My Event's</h5>
            </div>
          <div id="list-example" class="list-group">
              <ul id="example-list" class="list-group">
                {{#each examples}}
                <li data-id="{{this.id}}" class="list-group-item">
                  <a href="example/{{this.id}}">{{this.name}}</a>
                  <button class="btn btn-outline-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
              </ul>
          </div>
        </div>

        <div class="card border-primary mb-3">
          <div class="card-body">
            <h5 class="card-title">My Attending Event's</h5>
            </div>
          <div id="list-example" class="list-group">
             <ul id="example-list" class="list-group">
                {{#each examples}}
                <li data-id="{{this.id}}" class="list-group-item">
                  <a href="example/{{this.id}}">{{this.name}}</a>
                  <button class="btn btn-outline-danger float-right delete">ｘ</button>
                </li>
                {{/each}} {{!-- {{ add in if or unless to populate/show current date attending}}--}}
              </ul>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body text-center">
              {{> modal/bootstrap-modal}}
          </div>
        </div>
      </div>

      <div class="col-8">
        {{!-- {{#each events}}
          {{#unless past}} --}}
            <div class="card">
              <img src="..." class="card-img-top" alt="Food Truck Logo/Picture">
              <div class="card-body">
                  <h5 class="card-title eventTitle">Title</h5>
                  <p class="card-text eventDescription">Description OIFJWOEIFOEWIoifwjeofiwjeofijDVOIJWEOFIJWEOFIJWEOIFJ woeifjw eofijwoeifjw oeif</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item eventDate text-danger">Date(s): January 1, 2020</li>
                  <li class="list-group-item eventLocation text-danger">Find us here: 123 Fake Street, Apple, New York, 000001</li>
              </ul>
              <div>
                  <iframe height="300" width="725" src="ThisIsWhereTheMapWillBe" class="eventMap"></iframe>    
              </div>
              <div class="card-body">
                  <a href="#" class="btn btn-danger" id="button" onclick="modEventAttendBtn()">Click to Attend!</a>
              </div>
            </div>
          {{!-- {{/unless}}
      {{/each}} --}}
      </div>
    </div>
  </div>
</div>



<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};

      function modEventAttendBtn() {
        let elem = document.getElementById("button");
        if (elem.innerHTML == "Click to Attend!") {
            elem.innerHTML = "Is Attending!";
        } else {
            elem.innerHTML = "Click to Attend!";
        }
    }
</script>
