{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-4"> 
        <div id="profile-card" class="card">
          <div class="card-body text-center">
            <h5 class="card-title">{{userInfo.firstName}}'s Profile</h5>
            <h6 class="card-subtitle mb-2 text-muted">About Me</h6>
            <p class="card-text" id="About" style="font-size: 20px">{{userInfo.aboutMe}}</p>
            <a class="btn btn-light border border-dark profileButton" href="/profile">Update My Profile</a>
          </div>
        </div>

        <div class="card border-primary mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">My Events</h5>
            </div>
          <div id="list-example" class="list-group">
              <ul id="example-list" class="list-group">
                {{#each myExamples}}
                <li data-id="{{this.id}}" class="list-group-item">
                  <a href="example/{{this.id}}">{{this.name}}</a>
                  <button class="btn btn-outline-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
              </ul>
          </div>
        </div>

        <div class="card border-primary mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">My Attending Events</h5>
            </div>
          <div id="list-example" class="list-group">
             <ul id="example-list" class="list-group">
                {{#each examples}}
                  {{#if this.value}}
                    <li data-id="{{this.id}}" class="list-group-item">
                      <a href="example/{{this.id}}">{{this.name}}</a>
                      <button class="btn btn-outline-warning float-right eventButton minusButton" data-value={{this.value}} data-id="{{this.id}}">-</button>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Create A New Truck Event!</h5>
          </div>
          <div class="text-center mb-3">
              {{> modal/bootstrap-modal}}
          </div>
        </div>
      </div>

      <div class="col-8">
        {{#each examples}}
            <div class="card event-card">
              <div class="card-body">
                <h5 class="card-title eventTitle text-center"><span style="font-size:40px">{{this.name}}</span></h5>
                <img src="{{this.picture}}" class="card-img-top" alt="{{this.name}} Logo/Picture">
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item eventDate text-dark"><span style="text-decoration: underline; font-size: 18px">Date(s):</span> {{this.datefrom}} - {{this.dateto}}</li>
                  <li class="list-group-item eventDescription text-dark"><span style="text-decoration: underline; font-size: 18px">Description:</span> {{this.about}}</li>
                  <li class="list-group-item eventLocation text-dark"><span style="text-decoration: underline; font-size: 18px">You can find us right here:</span> {{this.address}}, {{this.city}}, {{this.state}}, {{this.zip}}</li>
              </ul>
              <div>
                  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=auto&amp;hl=en&amp;q={{this.address}}%20{{this.city}}%20{{this.state}}%{{this.zip}}+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>    
              </div>
              <div class="card-body">
                  <button class="btn btn-light border border-dark eventButton" data-value={{this.value}} data-id="{{this.id}}">
                    {{#if value}}
                    You're Attending!
                    {{else}}
                    Click to Attend!
                    {{/if}}
                  </button>
              </div>
            </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>



<script src="/assets/js/example.js"></script>

<script>
  var userName = {{userInfo.aboutMe}};
</script>

{{> modal/login-block}}

{{!-- check user --}}
<script>
  var userId = {{userInfo.id}};

$(".eventButton").click(function (event) {
	const currentValue = $(this).data("value");

	let newValue = 0;
	if (currentValue !== newValue) {
		newValue = 1
	}

	let id = $(this).data("id");
	console.log(id);

	$.ajax({
		url: `/api/examples/${id}`,
		method: 'PATCH',
		data: {
			value: !newValue
		}
	}).then(response => {
		console.log(response);
		if (response.success) {
			window.location.reload();
		}
	});

})
</script>
