{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-4"> 
        <div id="profile-card" class="card">
          <div class="card-body text-center">
            <h5 class="card-title">My Profile</h5>
            <h6 class="card-subtitle mb-2 text-muted">About Me</h6>
            <p class="card-text" id="About" style="font-size: 20px">{{userInfo.aboutMe}}</p>
            <a class="btn btn-light border border-dark" href="/profile">Update My Profile</a>
          </div>
        </div>

        <div class="card border-primary mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">My Events</h5>
            </div>
          <div id="list-example" class="list-group">
              <ul id="example-list" class="list-group">
                {{#each myExamples}}
                <li data-id="{{this.id}}" class="list-group-item">
                  <a href="example/{{this.id}}">{{this.name}}</a>
                  <button class="btn btn-outline-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
              </ul>
          </div>
        </div>

        <div class="card border-primary mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">My Attending Events</h5>
            </div>
          <div id="list-example" class="list-group">
             <ul id="example-list" class="list-group">
                {{#each examples}}
                <li data-id="{{this.id}}" class="list-group-item">
                  <a href="example/{{this.id}}">{{this.name}}</a>
                  <button class="btn btn-outline-warning float-right abandon">-</button>
                </li>
                {{/each}} {{!-- {{ add in if to populate/show current date attending}}--}}
              </ul>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body text-center">
              {{> modal/bootstrap-modal}}
          </div>
        </div>
      </div>

      <div class="col-8">
        {{#each examples}}
          {{!-- {{#unless past}} --}}
            <div class="card event-card">
              <img src="{{this.picture}}" class="card-img-top" alt="{{this.name}} Logo/Picture">
              <div class="card-body">
                  <h5 class="card-title eventTitle text-center"><span style="font-size:40px">{{this.name}}</span></h5>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item eventDate text-dark"><span style="text-decoration: underline; font-size: 18px">Date(s):</span> {{this.datefrom}} - {{this.dateto}}</li>
                  <li class="list-group-item eventDescription text-dark"><span style="text-decoration: underline; font-size: 18px">Description:</span> {{this.about}}</li>
                  <li class="list-group-item eventLocation text-dark"><span style="text-decoration: underline; font-size: 18px">You can find us right here:</span> {{this.address}}, {{this.city}}, {{this.state}}, {{this.zip}}</li>
              </ul>
              <div>
                  <iframe height="100%" width="100%" src="ThisIsWhereTheMapWillBe" class="pb-3 eventMap"></iframe>    
              </div>
              <div class="card-body">
                  <a href="#" class="btn btn-light border border-dark" id="eventButton" onclick="modEventAttendBtn()">Click to Attend!</a>
              </div>
            </div>
          {{!-- {{/unless}} --}}
        {{/each}}
      </div>
    </div>
  </div>
</div>



<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

{{!-- check user --}}
<script>
  var userId = {{userInfo.id}};
  var userName = {{userInfo.aboutMe}}; 

      function modEventAttendBtn() {
        let elem = document.getElementById("eventButton");
        if (elem.innerHTML == "Click to Attend!") {
            elem.innerHTML = "Is Attending!";
        } else {
            elem.innerHTML = "Click to Attend!";
        }
    }
</script>
